.warning {
  font-size: 2rem;
  padding: 0.7rem;
  color: red;
  border: 5px solid #c72d2d;
  border-radius: 1rem;
  background-color: #6d6d6d8a;
}

.success {
  font-size: 2rem;
  padding: 0.7rem;
  color: #099e00;
  border: 5px solid #17b204;
  border-radius: 1rem;
  background-color: #6d6d6d8a;
}
